img {
    max-width: 100%;
    height: auto;
}
h1 {
    font-size: 48px;
}
.jumbotron {
    margin:16px;
    font-family: Parisienne, sans-serif;
}
.navbar {
font-family: Montserrat, sans-serif;
margin: 16px ;
background-color: #2d2d30;
border: 0;
font-size: 12px;
letter-spacing: 4px;
opacity: 0.9;
}
